@tailwind base;
@tailwind components;
@tailwind utilities;

/* .App {
  padding: 0 10px;
} */

/* .App .logo {
  width: 100px;
  margin: 0 auto;
} */

/* .App .links li {
  width: 80px;
} */

/* .App .field {
  margin-top: 10px;
} */

/* .App input[type="text"]::placeholder {
  text-align: center;
} */

/* .App .app-info {
  text-align: center;
} */

/* .App .control {
  width: 300px;
  margin: 0 auto;
} */

.App .search-button,
.search-bar {
  width: 300px;
}

@media only screen and (min-width: 736px) {
  .App {
    width: 960px;
    margin: 0 auto;
  }
}
